 .quiz-container {
      background: #fff;
      width: 100%;
      max-width: 1000px;
       font-weight: bold;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      color: black;
 
    }
    .question {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .options label {
      display: block;
      padding: 0.5rem;

      border-radius: 8px;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
    .btn {
      margin-top: 1rem;
      padding: 0.75rem 1.5rem;
      
      background-color: steelblue;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      display: inline-block;
      transition:all 0.3s;
    }
    .btn:hover {
      background: #3730a3;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }


 






    

 